<svg width="100%" viewBox="0 0 1200 700">
  <style>
    .generatorCircle { fill: green }
    .generatorText { font: bold 30px sans-serif; fill: white }
    .operatorBox { fill: blue }
    .operatorText { font: bold 25px sans-serif; fill: white }
    .outputCircle { fill: red }
    .outputText { font: bold 30px sans-serif; fill: white }
    .valueCircle { fill: yellow }
    .valueText { font: bold 30px sans-serif; fill: black }
  </style>
  <svg:g *ngFor="let g of components.generators" >
    <svg:circle [attr.cx]="g.center.x" [attr.cy]="g.center.y" [attr.r]="g.size" stroke="black" stroke-width="3" class="generatorCircle" />
    <svg:text [attr.x]="g.center.x" [attr.y]="g.center.y" alignment-baseline="middle" text-anchor="middle" class="generatorText">{{ g.name }}</text>
  </svg:g>
  <svg:g *ngFor="let g of components.operators" >
    <svg:rect [attr.x]="g.tl.x" [attr.y]="g.tl.y" [attr.width]="g.width" [attr.height]="g.height" stroke="black" stroke-width="3" class="operatorBox" />
    <svg:text [attr.x]="g.textPos.x" [attr.y]="g.textPos.y" alignment-baseline="middle" text-anchor="middle" class="operatorText">{{ g.name }}</text>
  </svg:g>
  <svg:g *ngFor="let g of components.output" >
    <svg:circle [attr.cx]="g.center.x" [attr.cy]="g.center.y" [attr.r]="g.size" stroke="black" stroke-width="3" class="outputCircle" />
    <svg:text [attr.x]="g.center.x" [attr.y]="g.center.y" alignment-baseline="middle" text-anchor="middle" class="outputText">{{ g.name }}</text>
  </svg:g>
  <svg:g *ngFor="let g of components.links" >
      <line [attr.x1]="g.xFrom" [attr.y1]="g.yFrom" [attr.x2]="g.xTo" [attr.y2]="g.yTo" style="stroke:black;stroke-width:3" />
  </svg:g>
  <svg:g *ngFor="let v of components.values$"><svg:g *ngIf="v | async; let g">
    <svg:circle [attr.cx]="g.center.x" [attr.cy]="g.center.y" [attr.r]="g.size" stroke="black" stroke-width="3" class="valueCircle" />
    <svg:text [attr.x]="g.center.x" [attr.y]="g.center.y" alignment-baseline="middle" text-anchor="middle" class="valueText">{{ g.name }}</text>
  </svg:g></svg:g>
</svg>
